body{
    background: linear-gradient(90deg, #c40808 0%, #96f202 100%);
    /*font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif*/
}
p{
    color: white;
}
.navbar-light .navbar-nav .nav-link.active{
    color: aqua;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand{
    color: white;
}
.navbar-brand>img{
    width: 40px;
}
.navbar-light .navbar-toggler{
    background-color: white;
}
.nav-right{
    color: rgb(248, 248, 255);
    background: linear-gradient(270deg, #642204 0%, #1b0535 100%);
}
.nav-right p a{
    text-decoration: none;
    color: rgb(105, 27, 43);
}
a{
    text-decoration: none;
}
.card{
    background: linear-gradient(270deg, #000000 0%, #b17070 100%);
}
.card a{
    color: #fdfffd;
}
.card a,
.btn{
    color: #ffffff;
}
.slide-text{
    color: #ffffff;
    margin: auto auto;
    padding-right: 5.6rem;
}
.btn btn-dark{
    background: linear-gradient(270deg, #000000 0%, #1b0535 100%);
}
footer,
.btn btn-dark{
    background: linear-gradient(270deg, #441313 0%, #160101 100%);
}
.footer-text{
    color: rgb(255, 255, 255);
    margin: auto auto;
}
.phone-animation{
    animation: myAnim 1s ease 0s infinite normal forwards;
}
.card{
    background-color: #000000;
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}
@media(max-width: 750px){
    .carousel-indicators{
        display: none
    }
}
